<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <customErrors mode="RemoteOnly" defaultRedirect="Login.aspx"/>
    <sessionState timeout="600"></sessionState>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="relay-hosting.secureserver.net" port="25" userName="cideautos@carfindersus.com" password="cideautos"  />
      </smtp>
    </mailSettings>
  </system.net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebServiceBancoSoap" />
        <binding name="WebServiceBancoSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://bancoweb.azurewebsites.net/WebServiceBanco.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebServiceBancoSoap"
        contract="ServicioBanco.WebServiceBancoSoap" name="WebServiceBancoSoap" />
      <endpoint address="http://bancoweb.azurewebsites.net/WebServiceBanco.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebServiceBancoSoap1"
        contract="ServicioTarjeta.WebServiceBancoSoap" name="WebServiceBancoSoap1" />
    </client>
  </system.serviceModel>
</configuration>